.recipe_wrap{
	list-style: none;
	padding: 0;
	margin: 0;
	min-height: 856px;
}

/*.recipe:nth-child(4n+1){
	clear: both;
}*/

.recipe{
	text-align: center;
	padding-bottom: 30px;
}

.page .entry-content .recipe a.recipe_title{
	text-decoration: none;
	padding-top: 20px;
	transition: .3s;
}

.page .entry-content .recipe a.recipe_title:hover{
	opacity: 0.8;
}

.entry-content .recipe img{
	height: 125px;
	max-height: 125px;
	margin-bottom: 15px;
}

.wpseo-score.column-wpseo-score{
	display: none;
}

#wpseo-score, #wpseo-score-readability{
	display: none !important;
}

#page-520 .entry-title, #page-519 .entry-title{
	display: none;
}

/*general styles for all CSS Checkboxes*/
#recipe_tax_filter label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#recipe_tax_filter input[type=checkbox].css-checkbox {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
    background: transparent;
}

#recipe_tax_filter input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

#recipe_tax_filter input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

/*specific classes related to Checkbox skins*/
.lite-x-gray{background-image:url('../img/checkbox-bg.png');}

.recipe-index-sidebar{
	padding-bottom: 4em;
	margin-bottom: 4em;
	border-bottom: 1px solid #333;
}

#taxonomy_dropdown_widget-2 select{
	display: block; 
	width: 100%; 
	height: 34px; 
	padding: 6px 12px; 
	line-height: 1.42857143; 
	color: #545454; 
	background-color: #fafafa; 
	background-image: none; 
	border: 1px solid #f1f1f1; 
	font-weight:300;
	font-size:12px;
	font-style:italic;
	border-color:#f1f1f1;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

#taxonomy_dropdown_widget-2 label{
	font-weight: normal;
}